@use 'index.scss' as main-styles;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
  width: 100%;
  max-width: 25rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  .hint-container {
    color: main-styles.get-color(neutral, 30);
    text-align: left;
    padding-inline: 16px;
  }
}

.subtitle {
  font-size: 1.5em;
  color: #117473;
}

.custom-form-field {
  width: 100%;
  max-width: 20rem;
}

.button:not([disabled]) {
  background: #19bfb9;
}
