button {
  float: right;
  background-color: var(--mdc-filled-text-field-container-color, var(--mat-sys-surface-variant));
}

.page-header {
  position: sticky;
}

.chart-container {
  width: 100%;
  height: auto;           
  max-width: 100%;        
  max-height: 100%;       
  overflow-x: auto;       
  white-space: nowrap;        
  padding: 10px;        
}

.form-container {
  padding-inline: 1em;
}

mat-form-field:not(:first-child),button:not(:first-child){
  margin-left: 1em;
}

.apexcharts-canvas .apexcharts-heatmap-rect[val='-1'] {
  display: none !important;
}

.mat-mdc-fab {
  background-color: var(--mdc-filled-text-field-container-color, var(--mat-sys-surface-variant));
}

.cdk-overlay-pane {
  background-color: white;
}

@media (max-width: 768px) {
  .chart-container-wrapper {
    height: calc(100vh - 100px);
    overflow-x: scroll;
  }

  .chart-container {
    width: 768px; 
    height: 100%;
    max-width: none;
    max-height: none;
  }
}