@use 'index.scss' as main-styles;

.container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  height: 90%;
  padding: main-styles.get-size(padding, xl);
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  background-color: main-styles.get-color('primary', 25); //neutral 30
  color: main-styles.get-color('neutral', 70);
  width: 70px;
  height: 110%;
  border-radius: 0%;
  transform-origin: left;
}
mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out !important;
}
mat-sidenav.sidenav-expanded {
  width: 250px;
}
.sidenav-expanded .menu-label {
  color: main-styles.get-color('neutral', 70);
}
.mat-drawer-inner-container {
  display: block;
  position: fixed;
  justify-content: center;
  align-items: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

mat-sidenav::-webkit-scrollbar,
mat-sidenav-content::-webkit-scrollbar,
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.app-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: main-styles.get-color('primary', 30);
}
mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  color: main-styles.get-color('neutral', 70);
}
.menu-button.active,
.menu-button:hover {
  color: main-styles.get-color('neutral', 100);
  background: main-styles.get-color('primary', 70);
  transition:
    color 0.2s,
    background 0.2s;
  .menu-label {
    color: main-styles.get-color('neutral', 100);
  }
}
.menu-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding-left: 18px;
  margin: 0;
  vertical-align: middle;
}
.expand-button {
  width: auto;
  color: main-styles.get-color('neutral', 50);
  height: 50px;
}
.menu-label {
  position: absolute;
  left: 75px;
  font-size: main-styles.get-font-size(title, medium);
  font-weight: 500;
  white-space: nowrap;
}
span.hide-title {
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: 400ms;
  transition-behavior: allow-discrete;
}
.material-icons-outlined {
  font-family: 'Material Icons Outlined' !important;
}
