<div class="referral-details-page">
  <eras-breadcrumb></eras-breadcrumb>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        {{ (referral()!.submitter || 'N')[0] }}
      </div>
      <mat-card-title>
        {{ referral()!.service || 'Service' }}
      </mat-card-title>
      <mat-card-subtitle>Referral #{{ referral()!.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="content">
      <div class="grid">
        <div class="field">
          <span class="label">Date</span>
          <span class="value">{{ referral()!.date | date: 'shortDate' }}</span>
        </div>

        <div class="field">
          <span class="label">Submitter</span>
          <span class="value">{{ referral()!.submitter }}</span>
        </div>

        <div class="field">
          <span class="label">Service</span>
          <span class="value">{{ referral()!.service }}</span>
        </div>

        <div class="field">
          <span class="label">Professional</span>
          <span class="value">{{ referral()!.professional }}</span>
        </div>

        <div class="field">
          <span class="label">Student</span>
          <span class="value">{{ referral()!.student }}</span>
        </div>

        <div class="field status">
          <span class="label">Status</span>
          <mat-chip-set aria-label="Referral Status">
            <mat-chip [style.--status]="statusColor()">
              <mat-icon *ngIf="referral()!.status === 'created'">
                engineering
              </mat-icon>
              <mat-icon *ngIf="referral()!.status === 'submitted'">
                send
              </mat-icon>
              <mat-icon *ngIf="referral()!.status === 'on-hold'">
                pause
              </mat-icon>
              <mat-icon *ngIf="referral()!.status === 'in-progress'">
                loop
              </mat-icon>
              <mat-icon *ngIf="referral()!.status === 'completed'">
                check
              </mat-icon>
              {{ referral()!.status | titlecase }}
            </mat-chip>
          </mat-chip-set>
        </div>

        <div class="field field-full">
          <span class="label">Comment</span>
          <p class="comment">
            {{ referral()!.comment || 'Sin comentarios.' }}
          </p>
        </div>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end" class="actions">
      <eras-button [textButton]="'Create Intervention'"></eras-button>
    </mat-card-actions>
  </mat-card>
</div>
