::ng-deep .mat-mdc-header-cell,
.mdc-data-table__header-cell,
.cdk-header-cell,
.cdk-column-studentName,
.mat-column-studentName {
  font-size: 12px;
}

.badge {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
}
