<app-list
  (loadCalled)="handleLoadCalled()"
  [columns]="columns"
  [columnTemplates]="columnTemplates"
  [items]="alertsList"
  [totalItems]="totalAlerts"
  [isExportable]="false"
  [showPaginator]="false"
>
  <ng-template #riskLevel let-element>
    <span
      [style.backgroundColor]="getRiskLevelColor(element.riskLevel)"
      [style.color]="getRiskLevelLabelColor(element.riskLevel)"
      class="badge"
    >
      {{ element.riskLevel }}
    </span>
  </ng-template>
  <ng-template #status let-element>
    <span
      [style.backgroundColor]="getStatusColor(element.status)"
      [style.color]="getStatusLabelColor(element.status)"
      class="badge"
    >
      {{ element.status }}
    </span>
  </ng-template>
</app-list>
