<div class="form-container">
  <h2 class="page-title">Import Polls</h2>
  <div class="container-form-answer">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Select a configuration to start</mat-label>
          <mat-select
            formControlName="configuration"
            (selectionChange)="onConfigurationChange($event.value)"
          >
            @for (configuration of userConfigurations; track configuration) {
              <mat-option [value]="configuration"
                >{{ configuration.configurationName }} -
                {{ getServiceProviderName(configuration) }}</mat-option
              >
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Select a survey from Cosmic Latte</mat-label>
          <mat-select formControlName="pollName">
            @for (poll of pollsNames; track poll) {
              <mat-option [value]="poll.name"
                >{{ poll.name }} - Id:
                {{ poll.parent.replace('evaluationSets:', '') }}</mat-option
              >
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="input">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="start"
            />
            <input matEndDate placeholder="End date" formControlName="end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-hint>Not required</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <button
          class="button"
          mat-flat-button
          type="submit"
          [disabled]="form.invalid || !form.get('pollName')?.value"
        >
          Import Answers
        </button>
      </div>
    </form>
  </div>
</div>
