<!-- TODO: Remove this conditional when user roles and access are defined -->
@if (
  (loadingSubject | async) === false &&
  userConfigurations.length === 0 &&
  !connectionError
) {
  <mat-dialog-content class="modal">
    <mat-error
      >You don't have active configurations. Please go to
      <a [routerLink]="providersUrl" (click)="dialogRef.close()"> this page </a>
      to create one</mat-error
    >
  </mat-dialog-content>
} @else {
  <div class="form-container">
    <h2 class="page-title">Import Polls</h2>
    <div class="container-form-answer">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <mat-form-field class="input" appearance="outline">
            <mat-label>Select a configuration to start</mat-label>
            <mat-select
              formControlName="configuration"
              (selectionChange)="onConfigurationChange($event.value)"
            >
              @for (configuration of userConfigurations; track configuration) {
                <mat-option [value]="configuration"
                  >{{ configuration.configurationName }} -
                  {{ getServiceProviderName(configuration) }}</mat-option
                >
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="input" appearance="outline">
            <mat-label>Select a survey from Cosmic Latte</mat-label>
            <mat-select formControlName="pollName">
              @for (poll of pollsNames; track poll) {
                <mat-option [value]="poll.name"
                  >{{ poll.name }} - Id:
                  {{ poll.parent.replace('evaluationSets:', '') }}</mat-option
                >
              }
            </mat-select>
          </mat-form-field>
          @if (!configurationIsValid) {
            <p class="configuration-warning">
              No polls found. Invalid or expired API key. Please check your
              <a [routerLink]="providersUrl" (click)="dialogRef.close()"
                >Configuration</a
              >.
            </p>
          }
        </div>
        <div class="row">
          <mat-form-field class="input">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input
              [rangePicker]="picker"
              [min]="minDate"
              [max]="maxDate"
            >
              <input
                matStartDate
                appDateAutoFormat
                formControlName="start"
                (dateInput)="form.updateValueAndValidity()"
              />
              <input
                matEndDate
                appDateAutoFormat
                formControlName="end"
                (dateInput)="form.updateValueAndValidity()"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            @if (
              form.get('start')?.hasError('required') ||
              form.get('end')?.hasError('required')
            ) {
              <mat-error>This field is required.</mat-error>
            } @else if (
              form.get('start')?.hasError('yearMin') ||
              form.get('start')?.hasError('matStartDateMin') ||
              form.get('end')?.hasError('yearMin') ||
              form.get('end')?.hasError('matEndDateMin')
            ) {
              <mat-error>Date cannot be earlier than 01/01/1900.</mat-error>
            } @else if (
              form.get('start')?.hasError('yearMax') ||
              form.get('start')?.hasError('matStartDateMax') ||
              form.get('start')?.hasError('matDatepickerMax') ||
              form.get('end')?.hasError('yearMax') ||
              form.get('end')?.hasError('matEndDateMax') ||
              form.get('end')?.hasError('matDatepickerMax')
            ) {
              <mat-error>Date cannot be later than 12/31/2100.</mat-error>
            } @else if (form.hasError('dateRangeInvalid')) {
              <mat-error>The end date must be after the start date.</mat-error>
            } @else if (
              form.get('start')?.invalid || form.get('end')?.invalid
            ) {
              <mat-error>Enter a valid date.</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <button
            class="button"
            mat-flat-button
            type="submit"
            [disabled]="
              form.invalid ||
              !form.get('pollName')?.value ||
              !configurationIsValid
            "
          >
            Import Answers
          </button>
        </div>
      </form>
    </div>
  </div>
}
