.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  padding-bottom: 1.5em;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0em;

    mat-form-field {
      flex: 1;
      min-width: 250px;
      max-width: 300px;
    }
  }
}
