@use '@angular/material' as mat;
@use '../../../../styles/utils' as ut;

.mat-drawer-container {
  height: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: ut.get-size(margin, lg);
}

.user-info button {
  width: ut.get-size(icon-size, extra-large);
  height: ut.get-size(icon-size, extra-large);
  margin: ut.get-size(margin, xs);
  border-radius: 50%;
  border: none;
  background-color: ut.get-color('neutral', 100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info button:hover {
  box-shadow: 1px 2px 2px var(--mat-sys-primary);
}

.username {
  margin-right: ut.get-size(margin, lg);
  font-size: ut.get-font-size(label, medium);
  font-weight: ut.get-font-weight(medium);
  color: var(--mat-sys-primary);
}

.avatar {
  width: ut.get-size(icon-size, extra-large);
  height: ut.get-size(icon-size, extra-large);
  border-radius: 50%;
}

.menu-button {
  color: var(--mat-sys-primary);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: ut.get-size(padding, m);
  box-sizing: border-box;
  height: 90%;
}


.custom-navbar {
  background-color: ut.get-color('neutral', 100);
  color: ut.get-color('neutral', 20);
  border-bottom: 1px solid ut.get-color('neutral', 70);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: ut.get-size(padding, m);
  height: 56px;
}

::ng-deep #cdk-overlay-0 {
  background-color: ut.get-color('neutral', 100);
}


.custom-sidenav {
  border-radius: 0%;
  width: 240px;
}

.custom-sidenav-header {
  background-color: ut.get-color('neutral', 30);
  color: ut.get-color('neutral', 100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  padding: ut.get-size(padding, m);
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid ut.get-color('neutral', 30);
}

.custom-sidenav-header p {
  text-align: center;
  font-family: var(--Headline-Small-Font, Roboto);
  font-size: ut.get-font-size(headline, small);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Headline-Small-Line-Height, 32px);
  letter-spacing: var(--Headline-Small-Tracking, 0px);
}

.custom-sidenav-content {
  background-color: ut.get-color('neutral', 40);
  color: ut.get-color('neutral', 100);
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
}

.custom-sidenav-content p {
  margin-top: ut.get-size(margin, xs);
  margin-bottom: ut.get-size(margin, xs);
}

button.mat-mdc-button.custom-nav-button {
  color: ut.get-color('neutral', 100);
  padding: ut.get-size(padding, xxl);
  justify-content: flex-start;
  margin-left: ut.get-size(margin, md);
  margin-right: ut.get-size(margin, md);
  width: calc(100% - 24px);
}

p button.mat-mdc-button.custom-nav-button:hover {
  background-color: ut.get-color('primary', 70);
  border-radius: 10px;
}

mat-sidenav button.cdk-focused {
  background-color: ut.get-color('primary', 70);
  border-radius: 10px;
}

mat-sidenav button.cdk-program-focused {
  background-color: ut.get-color('primary', 70);
  border-radius: 10px;
}


@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 5px;
  }
}
