@use '@angular/material' as mat;
@use '../../../../styles/utils' as ut;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 6%;
  padding: ut.get-size(padding, m);
  box-sizing: border-box;
  height: 90%;
}
// Responsive margin for container
@media (max-width: 1200px) {
  .container .app-title {
    margin: 0 4%;
  }
}
@media (max-width: 800px) {
  .container .app-title{
    margin: 0 1%;
    max-width: 100%;
    padding: ut.get-size(padding, xs);
  }
}
@media (max-width: 600px) {
  .container .app-title{
    margin: 0;
    padding: ut.get-size(padding, xs);
  }
}

mat-sidenav-container{
  height: 100%;
}
mat-sidenav{
  background-color: ut.get-color('primary', 25); //neutral 30
  color: ut.get-color('neutral', 100);
  width: 70px;
  height: 110%;
  border-radius: 0%;
}
.sidenav-expanded {
  width: 300px;
  transition: width 0.3s ease-in-out;
}

.mat-drawer-inner-container{
  display: block;
  position: fixed;
  justify-content: center;
  align-items: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

mat-sidenav::-webkit-scrollbar,
mat-sidenav-content::-webkit-scrollbar,
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.app-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: ut.get-color('primary', 30);
}
mat-toolbar{
  display: flex;
  justify-content: space-between;
  height: 50px;
}
button {
  display: flex;
  align-items: left;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 300px;
  height: 40px;
}
.menu-button.active, .menu-button:hover{
  color: #e0f7fa; /* Use your primary color */
  background: #19bfb9; /* Optional: subtle background */
  transition:
    color 0.2s,
    background 0.2s;
}
.menu-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding-left: 18px;
  margin: 0;
  vertical-align: middle;
}
.expand-button{
  width: 150px;
  color: ut.get-color('neutral', 50);
  height: 50px;
}
.menu-label{
  position: absolute;
  left: 75px;
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  color: white;
}
