<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'over'" class="custom-sidenav">
    <div class="custom-sidenav-header">
      <p>ERAS</p>
    </div>
    <div class="custom-sidenav-content">
      <p>
        <button mat-button (click)="redirect('')" class="custom-nav-button">
          <mat-icon>home</mat-icon>
          Home
        </button>
      </p>
      <p>
        <button
          mat-button
          (click)="redirect('heat-map')"
          class="custom-nav-button"
        >
          <mat-icon>pie_chart_outline</mat-icon>
          Reports
        </button>
      </p>
      <p>
        <button
          mat-button
          (click)="toggleLists(!isListsExpanded)"
          class="custom-nav-button"
        >
          <mat-icon>list</mat-icon>
          Lists
          <span class="icon-arrow">
            <mat-icon *ngIf="!isListsExpanded">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="isListsExpanded">arrow_drop_up</mat-icon>
          </span>
        </button>
      </p>

      <!-- Submenu for Lists -->
      <div *ngIf="isListsExpanded" class="settings-submenu">
        <p>
          <button
            mat-button
            class="custom-button-style"
            (click)="redirect('list-students-by-poll')"
          >
            <mat-icon>school</mat-icon>
            Students
          </button>
        </p>
        <p>
          <button mat-button class="custom-button-style">
            <mat-icon>group</mat-icon>
            Cohorts
          </button>
        </p>
        <p>
          <button
            mat-button
            class="custom-button-style"
            (click)="redirect('list-polls-by-cohort')"
          >
            <mat-icon>poll</mat-icon>
            Polls by Cohorts
          </button>
        </p>
        <p>
          <button
            mat-button
            class="custom-button-style"
            (click)="redirect('list-students-by-poll')"
          >
            <mat-icon>poll</mat-icon>
            Polls
          </button>
        </p>
      </div>
      <p>
        <button
          mat-button
          class="custom-nav-button"
          (click)="toggleSettings(!isSettingsExpanded)"
        >
          <mat-icon>settings</mat-icon>
          <span class="label-settings">Settings</span>
          <span class="icon-arrow">
            <mat-icon *ngIf="!isSettingsExpanded">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="isSettingsExpanded">arrow_drop_up</mat-icon>
          </span>
        </button>
      </p>

      <div *ngIf="isSettingsExpanded" class="settings-submenu">
        <p>
          <button
            mat-button
            (click)="redirect('cosmic-latte')"
            class="custom-button-style"
          >
            <mat-icon>check_circle</mat-icon>
            Cosmic Latte Status
          </button>
        </p>
      </div>
      <p>
        <button
          mat-button
          class="custom-nav-button"
          (click)="toggleImports(!isImportsExpanded)"
        >
          <mat-icon>drive_folder_upload</mat-icon>
          <span class="label-settings">Imports</span>
          <span class="icon-arrow">
            <mat-icon *ngIf="!isImportsExpanded">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="isImportsExpanded">arrow_drop_up</mat-icon>
          </span>
        </button>
      </p>
      <div *ngIf="isImportsExpanded" class="settings-submenu">
        <p>
          <button
            mat-button
            (click)="redirect('import-answers')"
            class="custom-button-style"
          >
            <mat-icon>insert_chart_outlined</mat-icon>
            Add Polls
          </button>
        </p>
        <p>
          <button
            mat-button
            (click)="redirect('import-students')"
            class="custom-button-style"
          >
            <mat-icon>person_add</mat-icon>
            Add Students
          </button>
        </p>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="custom-navbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      @if (user) {
        <div class="user-info">
          <button>
            <mat-icon>notifications_none</mat-icon>
          </button>
          <button [matMenuTriggerFor]="beforeMenu" class="avatar-button">
            <mat-icon>person</mat-icon>
          </button>
        </div>
      }
      <mat-menu #beforeMenu="matMenu" xPosition="before" class="avatar-menu">
        <button mat-menu-item (click)="redirect('profile')" class="menu-button">
          <mat-icon>person</mat-icon>Profile
        </button>
        <button mat-menu-item (click)="logout()" class="menu-button">
          <mat-icon>logout</mat-icon>Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
