<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'side'" class="custom-sidenav">
    <!-- Header del sidenav -->
    <div class="custom-sidenav-header">
      <p>ERAS</p>
    </div>

    <!-- Contenido del sidenav -->
    <div class="custom-sidenav-content">
      <p>
        <button mat-button class="custom-nav-button">
          <mat-icon>home</mat-icon>
          Home
        </button>
      </p>
      <p>
        <button mat-button class="custom-nav-button">
          <mat-icon>insert_chart_outlined</mat-icon>
          Surveys
        </button>
      </p>
      <p>
        <button
          mat-button
          (click)="redirectReports()"
          class="custom-nav-button"
        >
          <mat-icon>pie_chart_outline</mat-icon>
          Reports
        </button>
      </p>
      <p>
        <button
          mat-button
          (click)="redirectSettings()"
          class="custom-nav-button"
        >
          <mat-icon>settings</mat-icon>
          Settings
        </button>
      </p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="custom-navbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      @if (user) {
        <div class="user-info">
          <!-- <span class="username">{{ user.name }}</span> -->
          <button>
            <mat-icon>notifications_none</mat-icon>
          </button>
          <button [matMenuTriggerFor]="beforeMenu" class="avatar-button">
            <img
              class="avatar"
              alt="user-photo"
              src="{{ user.photoUrl }}"
              referrerpolicy="no-referrer"
            />
          </button>
        </div>
      }
      <mat-menu #beforeMenu="matMenu" xPosition="before" class="avatar-menu">
        <button mat-menu-item (click)="redirectProfile()" class="menu-button">
          <mat-icon>person</mat-icon>Profile
        </button>
        <button mat-menu-item (click)="logout()" class="menu-button">
          <mat-icon>logout</mat-icon>Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
