@use '@angular/material' as mat;
@use '../../../../styles/utils' as ut;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 6%;
  padding: ut.get-size(padding, m);
  box-sizing: border-box;
  height: 90%;
}
// Responsive margin for container
@media (max-width: 1200px) {
  .container .app-title {
    margin: 0 4%;
  }
}
@media (max-width: 800px) {
  .container .app-title{
    margin: 0 1%;
    max-width: 100%;
    padding: ut.get-size(padding, xs);
  }
}
@media (max-width: 600px) {
  .container .app-title{
    margin: 0;
    padding: ut.get-size(padding, xs);
  }
}

mat-sidenav-container{
  height: 100%;
}
mat-sidenav{
  background-color: ut.get-color('primary', 25); //neutral 30
  color: ut.get-color('neutral', 100);
  width: 70px;
  height: 110%;
  border-radius: 0%;
}
.expand-button{
  width: 100%;
  color: ut.get-color('neutral', 50);
  height: 50px;
}
.mat-drawer-inner-container{
  display: block;
  position: fixed;
  justify-content: center;
  align-items: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

mat-sidenav::-webkit-scrollbar,
mat-sidenav-content::-webkit-scrollbar,
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.app-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: ut.get-color('primary', 30);
}
mat-toolbar{
  display: flex;
  justify-content: space-between;
  height: 50px;
}
