.subtitle {
    margin: 0px;
    font-weight: 700;
    padding: 0px 10px;
    margin: 10px 0px;
  }
  
  mat-form-field:not(:first-child),button:not(:first-child){
    margin-left: 1em;
  }
  
  .card-container {
    padding: 0px 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: grid;
    gap: 10px;
  }
  
  .row-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .field {
    font-weight: 400;
    margin: 5px 0px;
  }
  
  .information {
    font-weight: 550;
    margin: 5px 0px;
  }
  
  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  
  .no-data-message {
    font-size: 1.2em;
    color: #757575;
    text-align: center;
  }
 