@use '../../../../../../styles/utils/index.scss' as main-styles;

.noEvalsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5vh;
}

.spinerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floatingButtonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  .addNewButton {
    margin: 10px;
    background: main-styles.get-color(primary, 60);
    color: white;
    mat-icon {
      color: white;
    }
  }
}

.badgeStatus {
  padding: 4px;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 20px;
  display: block;
  color: white;
  text-align: center;
  font-weight: 500;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}
.statusActionContainer {
  display: flex;
  gap: 10px;
  height: 100%;
  justify-content: end;
  .goToImport {
    color: main-styles.get-color(primary, 80);
    &:hover {
      color: main-styles.get-color(primary, 50);
      transform: scale(1.25);
    }
  }
}
.rowContainers {
  display: flex;
  flex-direction: column;
  .statusRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
    mat-icon {
      margin-right: -8px;
    }
  }
}
.rowContainers > .row-info:last-child {
  order: -1;
}
.Incomplete {
  background-color: main-styles.get-color(tertiary, 20);
}
.Not_started_yet {
  background-color: main-styles.get-color(primary, 60);
}
.In_progress {
  background-color: main-styles.get-color(primary, 30);
}
.Finished {
  background-color: main-styles.get-color(neutral, 60);
}
.rightAlign {
  text-align: center;
  width: 50px;
}
.subtitle {
  font-size: 28px;
  text-align: center;
}
.subtitle {
  margin: 0px;
  padding: 20px 10px 10px 10px;
  margin: 10px 0px;
}
mat-form-field:not(:first-child),
button:not(:first-child) {
  margin-left: 1em;
}
.card-container {
  padding: 0px 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  gap: 10px;
}

.row-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field {
  font-weight: 400;
  margin: 5px 0px;
}

.information {
  font-weight: 550;
  margin: 5px 0px;
}

table {
  @media (max-width: 768px) {
    td.pollCell {
      max-width: 100px; // Ajusta este valor según el diseño
      overflow: hidden;
      white-space: wrap;
    }
  }
}

th {
  font-weight: 600;
  font-size: 14px;
}

button {
  mat-icon {
    color: #00a29c;
  }
}

.card-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
