.form-container {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-container > *:nth-child(n + 3) {
  grid-column: 1 / -1; /* Span both columns */
}
.versioned-option span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.version {
  font-weight: 600;
  font-size: small;
}
mat-spinner {
  display: block;
  margin: 2rem auto;
}
