@if (kpi !== null) {
  <div class="grid-list">
    <div class="grid-tile">
      <app-stats-card-v2
        [title]="'Number of Students'"
        [value]="kpi.body.totalStudents.value"
        [percentageChange]="kpi.body.totalStudents.percentageChange"
      >
        <ng-container icon>
          <img src="assets/icons/studentsIcon.svg" alt="students" />
        </ng-container>
      </app-stats-card-v2>
    </div>

    <div class="grid-tile">
      <app-stats-card-v2
        [title]="'Polls Answered'"
        [value]="kpi.body.totalPollsAnswered.value"
        [percentageChange]="kpi.body.totalPollsAnswered.percentageChange"
      >
        <ng-container icon>
          <img src="assets/icons/pollsIcon.png" alt="polls" />
        </ng-container>
      </app-stats-card-v2>
    </div>

    <div class="grid-tile">
      <app-stats-card-v2
        [title]="'Evaluations'"
        [value]="kpi.body.totalEvaluations.value"
        [percentageChange]="kpi.body.totalEvaluations.percentageChange"
      >
        <ng-container icon>
          <img src="assets/icons/evaluationsIcon.png" alt="evaluations" />
        </ng-container>
      </app-stats-card-v2>
    </div>
  </div>
}
