<div class="main-button-container">
  <button [matMenuTriggerFor]="beforeMenu" class="main-button">
    <!-- <mat-icon>account_circle</mat-icon> -->
    <img src="assets/icons/avatarPlaceholder.svg" alt="avatar icon" />
  </button>
</div>

<mat-menu
  #beforeMenu="matMenu"
  xPosition="before"
  hasBackdrop="true"
  class="user-menu-panel"
>
  <div class="user-info-container">
    <!-- TODO: Add component/img for profile picture -->
    <mat-icon class="profile-picture">account_circle</mat-icon>
    <div class="user-info">
      <p class="user-name">{{ user()?.firstName }} {{ user()?.lastName }}</p>
      <p class="user-role">{{ user()?.role }}</p>
    </div>
  </div>
  <hr />
  <div class="options-container">
    <button mat-menu-item class="menu-button option-button">
      <mat-icon>person</mat-icon>
      Account and Information
    </button>
    <button
      mat-menu-item
      class="menu-button option-button"
      (click)="redirectToSettings()"
    >
      <mat-icon>settings</mat-icon>
      Platform Settings
    </button>
    @if (isAdmin()) {
      <button
        class="menu-button version-toggle-item"
        (click)="$event.stopPropagation()"
      >
        <span class="toggle-label-text">Turn on V2</span>
        <label class="simple-toggle">
          <input
            type="checkbox"
            [checked]="v2Enabled()"
            (change)="onV2Toggle($event)"
          />
          <span class="slider"></span>
        </label>
      </button>
    }
  </div>
  <hr />
  <div class="logout-container">
    <button mat-menu-item class="menu-button logout-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Log out
    </button>
  </div>
</mat-menu>
