@use '@angular/material' as mat;
@use 'index.scss' as main-styles;

.logout-button {
  color: main-styles.get-color('error', 50);
}

.main-button-container {
  height: main-styles.get-size(icon-size, extra-large);
  width: main-styles.get-size(icon-size, extra-large);

  .main-button {
    height: 32px;
    width: 32px;
    background-color: var(--primary-900);
    border-radius: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
  padding: 8px 16px 8px 16px;
  background-color: transparent;
  border: none;
  font-size: main-styles.get-font-size(label, large);

  &:hover {
    background-color: main-styles.get-color('neutral', 90);
  }
}

.user-info-container {
  cursor: default;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;

  .profile-picture {
    height: 40px;
    width: 40px;
    font-size: 40px;
  }

  .user-info {
    font-size: main-styles.get-font-size(label, large);

    p {
      margin: 0px;
    }

    .user-name {
      color: main-styles.get-color('neutral', 4);
      font-weight: main-styles.get-font-weight(semi-bold);
    }

    .user-role {
      color: main-styles.get-color('neutral', 50);
    }
  }
}

.option-button {
  color: main-styles.get-color('neutral', 10);
}

button {
  cursor: pointer;
}

hr {
  border: 1px solid main-styles.get-color('neutral', 90);
}
