<div class="delete-confirmation-modal">
  <div class="delete-confirmation-modal-header">
    <h2 class="delete-confirmation-modal-title">{{ data.title }}</h2>
  </div>

  <div class="delete-confirmation-modal-divider"></div>

  <div class="delete-confirmation-modal-body">
    <img
      src="assets/icons/warning.svg"
      alt="warning icon"
      class="delete-confirmation-modal-body-icon"
    />
    <span
      >Are you sure you want to delete this item?<br />
      This action cannot be undone.
    </span>
    <div
      *ngIf="error() !== null"
      class="delete-confirmation-modal-error-banner"
      role="alert"
    >
      <mat-icon class="icon-alert">warning_amber</mat-icon>
      <div class="delete-confirmation-modal-error-banner-text">
        {{ error() }}
      </div>
    </div>

    <div class="delete-confirmation-modal-table-wrapper"></div>
  </div>

  <div class="delete-confirmation-modal-divider"></div>

  <div class="delete-confirmation-modal-footer">
    <div class="delete-confirmation-modal-footer-actions">
      <button
        type="button"
        class="delete-confirmation-modal-btn delete-confirmation-modal-btn--cancel"
        [disabled]="isLoading()"
        (click)="onCancel()"
      >
        Cancel
      </button>

      <button
        type="button"
        class="delete-confirmation-modal-btn delete-confirmation-modal-btn--confirm"
        [disabled]="isLoading()"
        (click)="onConfirm()"
      >
        Delete
      </button>
    </div>
  </div>
</div>
