@use 'index.scss' as main-styles;
@use '@angular/material' as mat;

section header {
  align-items: center;
  background-color: main-styles.get-color('neutral', 90);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  font-weight: main-styles.get-font-weight(semi-bold);
  height: 50px;
  justify-content: space-between;
  text-indent: 15px;
  width: 100%;
}

app-group-action-button {
  margin-right: 12px;
}

section.evaluations {
  margin-top: 15px;
  background-color: main-styles.get-color('neutral', 100);
  @include mat.elevation(1);
  padding: 15px;
  border-radius: 5px;
}
