@use 'index.scss' as main-styles;

section header {
  background-color: main-styles.get-color('neutral', 90);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-weight: main-styles.get-font-weight(semi-bold);
  height: 50px;
  justify-content: center;
  text-indent: 15px;
  width: 100%;
}
