$font-text-md: var(--font-size-medium);

.button-save-cancel {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: $font-text-md;
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.upload-field-wrapper {
  position: relative;
}

.add-new-option {
  position: sticky;
  top: -8px;
  z-index: 1;
  background-color: #f0fdfa !important;
  border: 1px solid rgba($color: #000000, $alpha: 0.23);
}
