.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .app-title {
    font-size: var(--mat-sys-display-large-size);
    font-weight: 500;
    color: var(--mat-sys-primary);
  }

  .login-icon {
    width: 50%;
    max-width: 150px;
    max-height: 150px;
    background-color: var(--mat-sys-primary-fixed-dim);
    border-radius: 50%;
    overflow: hidden;
  }
