.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .app-title {
    font-size: var(--mat-sys-display-large-size);
    font-weight: 500;
    color: var(--mat-sys-primary);
  }

  .login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 20%;
    font-size: 150px;
    color: var(--mat-sys-primary);
  }
