@use './../../../../styles/utils/index.scss' as main-styles;

rmdc-dialog__surface {
  border-radius: 0 !important;
  border: solid rgb(30, 255, 0) 1px;
}
mat-dialog-content {
  padding: 0.75em !important;
  max-height: 80vh;
}
.modal {
  .closeButtonContainer {
    display: flex;
    justify-content: end;
    mat-icon {
      color: main-styles.get-color(neutral, 90);
      &:hover {
        color: main-styles.get-color(primary, 50);
      }
    }
  }
  .textContainer {
    text-align: center;
    padding-top: 0;

    @media (min-width: 500px) {
      padding: 1.5em;
    }
    .title {
      font-size: main-styles.get-font-size(headline, small);
      color: main-styles.get-color(neutral, 0);
      padding: 0;

      @media (min-width: 500px) {
        font-size: main-styles.get-font-size(headline, large);
      }
    }
    .subtitle {
      color: main-styles.get-color(neutral, 25);
      font-weight: 500;
      font-size: main-styles.get-font-size(title, medium);
      line-height: 20px;
      margin: 1em;
      padding: 0;

      @media (min-width: 500px) {
        font-size: main-styles.get-font-size(title, large);
        line-height: 1.75em;
        margin: 0;
      }
    }
    .detailsContainer {
      margin: 1em;
      .title {
        font-weight: semibold;
      }
      .error-title {
        color: main-styles.get-color(error, 40);
      }
      .success-title {
        color: main-styles.get-color(primary, 40);
      }
      .info-title {
        color: main-styles.get-color(info, 40);
      }
      .warning-title {
        color: main-styles.get-color(warning, 25);
      }

      .subtitle {
        font-size: main-styles.get-font-size(title, medium);
        margin: 1em;
        margin-bottom: 0px;
      }
      .error-subtitle {
        color: main-styles.get-color(error, 35);
      }
      .success-subtitle {
        color: main-styles.get-color(primary, 35);
      }
      .info-subtitle {
        color: main-styles.get-color(info, 35);
      }
      .warning-subtitle {
        color: main-styles.get-color(warning, 35);
      }

      ul {
        padding: 0;
        margin-top: 0;
      }

      .details {
        list-style: none;
        color: main-styles.get-color(neutral, 35);
        p {
          font-weight: 400;
          margin: 0.25em;
          font-size: main-styles.get-font-size(label, medium);
          @media (min-width: 500px) {
            font-size: main-styles.get-font-size(title, small);
          }
        }
      }
      .error-details {
      }
      .success-details {
      }
      .info-details {
      }
      .warning-details {
      }

      .icon {
        height: auto;
        width: auto;
        font-size: 5em;
      }

      .success-icon {
        color: main-styles.get-color(primary, 40);
      }

      .error-icon {
        color: main-styles.get-color(error, 40);
      }

      .warning-icon {
        color: main-styles.get-color(warning, 25);
      }

      .info-icon {
        color: main-styles.get-color(info, 40);
      }

      .details-success {
        color: main-styles.get-color(neutral, 20);
        font-family: Roboto;
        font-size: main-styles.get-font-size(title, medium);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    @media (min-width: 500px) {
      margin: 1em;
    }
    button {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: main-styles.get-color(primary, 50);
      color: white;
      border: none;
      border-radius: 6em;
      font-size: main-styles.get-font-size(body, large);
      font-weight: 500;
      line-height: 125%;
      height: 2.5em;
      width: 11em;
      padding: 0.66em 1em;
      @media (min-width: 500px) {
        padding: 0.66em 1em;
        width: 250px;
      }
    }
  }
  .deleteContainer {
    display: flex;
    justify-content: space-around;
    .modalMainButton {
      width: 8em;
      background-color: main-styles.get-color(neutral, 70);
      &:hover {
        background-color: main-styles.get-color(neutral, 50);
      }
    }
    .modalDeleteButton {
      width: 8em;
      background-color: main-styles.get-color(error, 50);
      &:hover {
        background-color: main-styles.get-color(error, 30);
      }
    }
  }
}
