<mat-dialog-content class="modal">
  <span class="closeButtonContainer">
    <mat-icon class="closeModalButton" (click)="closeDialog()">close</mat-icon>
  </span>
  <mat-dialog-content class="textContainer">
    <span class="detailsContainer">
      @if (!data.isSuccess) {
        <mat-icon class="failed-icon">error</mat-icon>
        <p class="title" [ngClass]="'error-style'">
          {{ data.title }}
        </p>
        <p class="subtitle" [ngClass]="'error-style'"></p>
        <ul>
          <li *ngFor="let detail of data.error.details" class="details">
            <p>{{ detail }}</p>
          </li>
        </ul>
      } @else {
        <mat-icon class="success-icon">done</mat-icon>
        <p class="title" [ngClass]="'success-style'">
          {{ data.title }}
        </p>
        <p class="subtitle" [ngClass]="'success-style'"></p>
        <p class="detailsSuccess">{{ data.success.details }}</p>
      }
    </span>
  </mat-dialog-content>
  <mat-dialog-actions
    class="buttonContainer"
    [ngClass]="{ deleteContainer: data.deleteConfirmFunction }"
  >
    @if (data.deleteConfirmFunction !== null) {
      <button class="modalMainButton" type="button" (click)="closeDialog()">
        Cancel
      </button>
      <button
        class="modalDeleteButton"
        type="button"
        (click)="data.deleteConfirmFunction()"
      >
        Delete
      </button>
    } @else {
      <button class="modalMainButton" (click)="closeDialog()">Ok</button>
    }
  </mat-dialog-actions>
</mat-dialog-content>
