:host {
  display: block;
  pointer-events: none;
}

.apex-cdk-tooltip {
  background-color: var(--color-neutral-5);
  border: var(--outline-neutral-200);
  border-radius: 4px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  min-width: 282px;
  font-size: var(--font-size-medium);
  color: var(----color-neutral-800);
  overflow: hidden;

  ::ng-deep .apexcharts-tooltip-x {
    font-size: var(--font-size-medium);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 0;
  }

  ::ng-deep .apexcharts-tooltip-y {
    font-size: var(--font-size-medium);
    color: var(----color-neutral-800);
    margin-bottom: 0;
  }

  ::ng-deep .apexcharts-tooltip-z {
    padding: 0 14px;
    font-size: var(--font-size-medium);
    color: var(----color-neutral-800);
  }

  ::ng-deep [style*='padding: 10px'] {
    padding: 0 !important;
  }

  ::ng-deep [style*='font-size: 18px'] {
    font-size: var(--font-size-medium) !important;
  }

  ::ng-deep [style*='font-size: 16px'] {
    font-size: var(--font-size-medium) !important;
  }
}
