<div class="student-header">
  <div class="student-info">
    <h2 class="page-title">{{ studentDetails.entity.name }}</h2>
    <h4 class="page-subtitle">{{ studentDetails.entity.email }}</h4>
    <h4 class="page-ssid">UUID: {{ studentDetails.entity.uuid }}</h4>
  </div>
  <button mat-icon-button color="primary" (click)="printStudentInfo()">
    <mat-icon>print</mat-icon>
  </button>
</div>

<div class="container">
  <mat-card class="card-details">
    <p>
      Enrolled Courses:
      {{ studentDetails.entity.studentDetail.enrolledCourses }}
    </p>
    <p>
      Graded Courses: {{ studentDetails.entity.studentDetail.gradedCourses }}
    </p>
    <p>
      Timely Submissions:
      {{ studentDetails.entity.studentDetail.timeDeliveryRate }}
    </p>
    <p>Average Score: {{ studentDetails.entity.studentDetail.avgScore }}</p>
    <p>
      Courses Below Average:
      {{ studentDetails.entity.studentDetail.coursesUnderAvg }}
    </p>
    <p>
      Raw Score Difference:
      {{ studentDetails.entity.studentDetail.pureScoreDiff }}
    </p>
    <p>
      Standard Score Difference:
      {{ studentDetails.entity.studentDetail.standardScoreDiff }}
    </p>
    <p>
      Days Since Last Access:
      {{ studentDetails.entity.studentDetail.lastAccessDays }}
    </p>
  </mat-card>
  <section class="main">
    <!-- <mat-card class="card-risk-by-components">
      <h3 class="title-risk-by-components">Risk by Components</h3>
      <p class="date-risk-by-components">Poll Name:</p>
      <p class="date-risk-by-components">Last update: 10/01/2025</p>
      <div class="chart-container" #chart>
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!"
          [colors]="chartOptions.colors!"
          [plotOptions]="chartOptions.plotOptions!"
          [title]="chartOptions.title!"
          [tooltip]="chartOptions.tooltip!"
        >
        </apx-chart>
      </div>
    </mat-card> -->
    <swiper-container class="swiper" effect="cards" grab-cursor="true">
      <swiper-slide *ngFor="let poll of studentPolls">
        <h3 class="title-risk-by-components">Risk by Components</h3>
        <p class="date-risk-by-components">Poll Name: {{ poll.name }}</p>
        <p class="date-risk-by-components">Last update: {{ poll.version }}</p>
        <div class="chart-container" #chart>
          <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [plotOptions]="chartOptions.plotOptions!"
          >
          </apx-chart>
        </div>
      </swiper-slide>
      <swiper-slide>
        <h3 class="title-risk-by-components">Risk by Components</h3>
        <p class="date-risk-by-components">Poll Name:</p>
        <p class="date-risk-by-components">Last update: 10/01/2025</p>
        <div class="chart-container" #chart>
          <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [xaxis]="chartOptions.xaxis!"
            [yaxis]="chartOptions.yaxis!"
            [colors]="chartOptions.colors!"
            [plotOptions]="chartOptions.plotOptions!"
            [title]="chartOptions.title!"
            [tooltip]="chartOptions.tooltip!"
          >
          </apx-chart>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>
</div>
