.column-chart-tooltip {
  background: #faf9f6;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
}

.cct-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.cct-subtitle {
  font-size: 16px;
  color: #797676;
  margin-bottom: 10px;
}

.cct-divider {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}

.cct-content {
  font-size: 14px;
  margin: 4px;
}

ul.custom-markers {
  margin: 0;
  padding: 0;
}

.custom-markers li {
  list-style-type: none;
  position: relative;
}

.custom-markers li::before {
  position: absolute;
  left: 0;
}

.cct-icon {
  font-size: 20px;
  color: green;
}
