.column-chart-tooltip {
  background: #faf9f6;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  padding: 20px;
  white-space: normal;
  word-wrap: break-word;
}

.cct-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.cct-subtitle {
  color: #797676;
  font-size: 16px;
  margin-bottom: 10px;
}

.cct-divider {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}

.cct-content {
  font-size: 14px;
  margin: 4px;
}

ul.custom-markers {
  margin: 0;
  padding: 0;
}

.custom-markers li {
  color: #747272;
  list-style-type: none;
  margin-left: 5px;
}

.custom-markers li:last-child {
  margin-bottom: 10px;
}

.cct-answer {
  color: #535252;
  font-weight: 500;
}

.cct-icon {
  color: green;
  font-size: 12px;
}
