@use 'index.scss' as main-styles;

::ng-deep .eras-modal-component {
  border-radius: 15px;
}

.modal-header {
  display: flex;
  justify-content: end;
}

.modal-header button.close {
  display: flex;
  justify-content: end;

  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  padding: 15px 15px 0px 0px;
  &:hover {
    opacity: 0.8;
  }
}
