<mat-dialog-content>
  <div class="modal-header">
    <h2 style="margin: 0px; font-size: 24px">Risk Students Detail</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label for="component">Component</mat-label>
      <mat-select id="component" formControlName="component">
        @for (component of components; track $index) {
          <mat-option [value]="component.value">{{
            component.name
          }}</mat-option>
        }
      </mat-select>
      @if (formLimit?.errors?.['required']) {
        <mat-error>This field is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin: 0px">
      <mat-label>Student limit</mat-label>
      <input formControlName="limit" matInput type="number" />
      @if (formLimit?.errors?.['min']) {
        <mat-error>Not a valid number</mat-error>
      }
    </mat-form-field>
  </form>

  @if (!isLoading) {
    @if (riskStudentsDetail.length) {
      <h4 style="padding: 0px; margin: 0px">Top Risk Students</h4>
      <p style="padding: 0px 0px 20px 0px; margin: 0px">
        {{ riskStudentsDetail.length }} students found
      </p>

      <mat-table [dataSource]="riskStudentsDetail">
        <ng-container matColumnDef="studentId">
          <th mat-header-cell *matHeaderCellDef>Student ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.studentId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="studentName">
          <th mat-header-cell *matHeaderCellDef>Student Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.studentName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="riskLevel">
          <th mat-header-cell *matHeaderCellDef>Risk Level</th>
          <td mat-cell *matCellDef="let element">
            <div
              class="risk-badge"
              [style.backgroundColor]="getColorRisk(element.riskLevel)"
            >
              {{ element.riskLevel }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button [disabled]="true" mat-icon-button aria-label="View details">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </mat-table>
    } @else {
      <div style="text-align: center">
        <h4>Not found Risk Students</h4>
        <p>Choose a component</p>
      </div>
    }
  } @else {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</mat-dialog-content>
