<div *ngIf="!pollSelected" class="card-inicial-container">
  <mat-card appearance="outlined" class="card">
    <div>
      <h2 class="cohorts-title">First Select a Poll</h2>
    </div>
    <mat-card-content>
      <mat-radio-group
        name="pollGroup"
        [(ngModel)]="pollSelectedId"
        class="poll-radio-group"
      >
        <mat-radio-button
          *ngFor="let poll of polls"
          [value]="poll.id"
          class="poll-radio-button"
        >
          <div>
            <strong>{{ poll.name }}</strong>
            <p>
              Version:
              <select
                [(ngModel)]="lastVersion"
                (change)="selectVersion($event)"
              >
                <option [value]="false">Older Versions</option>
                <option [value]="true" selected>
                  Last Version V{{ poll.lastVersion }} -
                  {{ poll.lastVersionDate | date: 'shortDate' }}
                </option>
              </select>
              <br />
              Version Date: {{ poll.lastVersionDate | date: 'mediumDate' }}
            </p>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!pollSelectedId"
        (click)="selectPoll()"
      >
        Continuar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="pollSelected && !cohortSelected" class="cards-cohorts-container">
  <mat-card appearance="outlined" class="card">
    <div class="header">
      <button mat-icon-button class="header-left" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="cohorts-title">{{ pollSelected.name }} - Cohorts</h2>
    </div>
    <div *ngIf="cohorts.length > 0; else emptyCohorts" class="cards-container">
      <mat-card class="card" *ngFor="let cohort of cohorts">
        <mat-card-header>
          <mat-card-title>{{ cohort.cohortName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <apx-chart
            [series]="getChartSeriesData(cohort)"
            [labels]="getChartLabels(cohort)"
            [chart]="chartOptions.chart!"
            [responsive]="chartOptions.responsive!"
            [legend]="chartOptions.legend!"
            [colors]="chartOptions.colors!"
            [plotOptions]="chartOptions.plotOptions!"
            [dataLabels]="chartOptions.dataLabels!"
          >
          </apx-chart>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-stroked-button
            color="accent"
            (click)="selectCohort(cohort)"
          >
            See Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-template #emptyCohorts>
      <p class="empty-state">No cohorts available for this poll version.</p>
    </ng-template>
  </mat-card>
</div>

<div *ngIf="cohortSelected && pollSelected" class="cohort-details-container">
  <div class="cohort-details-container">
    <mat-card appearance="outlined" class="card">
      <div class="header">
        <button mat-icon-button class="header-left" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="cohorts-title">
          {{ pollSelected.name }} - {{ cohortSelected.cohortName }}
        </h2>
      </div>
      <mat-card-content>
        <div class="global-cohort-container">
          <div>
            <h4 style="padding: 0px; margin: 0px">Risk Overview</h4>
            <p style="padding: 0px 0px 20px 0px; margin: 0px">By Component</p>
            <apx-chart
              [series]="getChartSeriesData(cohortSelected)"
              [labels]="getChartLabels(cohortSelected)"
              [chart]="chartOptions.chart!"
              [responsive]="chartOptions.responsive!"
              [legend]="chartOptions.legend!"
              [colors]="chartOptions.colors!"
              [plotOptions]="chartOptions.plotOptions!"
              [dataLabels]="chartOptions.dataLabels!"
            >
            </apx-chart>
          </div>
          <div class="custom-divider"></div>
          <div>
            <app-list
              [mapClass]="mapClass"
              (loadCalled)="handleLoad()"
              (actionCalled)="handleActionCalled($event)"
              [columns]="columns"
              [columnTemplates]="columnTemplates"
              [actionDatas]="actionDatas"
              [items]="filteredStudents"
              [totalItems]="filteredStudents.length"
              [title]="'Top Risk Students'"
            >
              <ng-template #riskSum let-item>
                <app-badge-risk-level [riskLevel]="item.riskSum" />
              </ng-template>
            </app-list>
          </div>
        </div>
        <br />
        <div class="action-buttons">
          <button mat-button (click)="accordion().openAll()">Expand All</button>
          <button mat-button (click)="accordion().closeAll()">
            Collapse All
          </button>
        </div>
        <mat-accordion class="cohort-accordion" multi>
          <mat-expansion-panel
            (opened)="loadComponentData(component.key.toLowerCase())"
            (closed)="studentRisk = []"
            *ngFor="let component of selectedComponents"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>{{ component.key }}</strong>
              </mat-panel-title>
              <mat-panel-description>
                Total Answer Average Risk: {{ component.value }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <app-list
                (loadCalled)="handleLoad()"
                (actionCalled)="handleActionCalled($event)"
                [mapClass]="mapClass"
                [columns]="columns"
                [columnTemplates]="columnTemplates"
                [actionDatas]="actionDatas"
                [items]="
                  componentStudentRisk[component.key.toLowerCase()] || []
                "
                [totalItems]="
                  (componentStudentRisk[component.key.toLowerCase()] || [])
                    .length
                "
              >
                <ng-template #riskSum let-item>
                  <app-badge-risk-level [riskLevel]="item.riskSum" />
                </ng-template>
              </app-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
