<!-- Card inicial para seleccionar un poll -->
<div *ngIf="!pollSeleccionado" class="card-inicial-container">
  <mat-card appearance="outlined" class="card">
    <div>
      <h2 class="cohorts-title">First Select a Poll</h2>
    </div>
    <mat-card-content>
      <mat-radio-group
        name="pollGroup"
        [(ngModel)]="pollSeleccionadoId"
        class="poll-radio-group"
      >
        <mat-radio-button
          *ngFor="let poll of polls"
          [value]="poll.id"
          class="poll-radio-button"
        >
          <div>
            <strong>{{ poll.name }}</strong>
            <p>
              Version: {{ poll.lastVersion }} <br />
              Version Date: {{ poll.lastVersionDate | date: 'mediumDate' }}
            </p>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!pollSeleccionadoId"
        (click)="selectPoll()"
      >
        Continuar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div
  *ngIf="pollSeleccionado && !cohortSeleccionado"
  class="cards-cohorts-container"
>
  <mat-card appearance="outlined" class="card">
    <div class="header">
      <button mat-icon-button class="header-left" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="cohorts-title">{{ pollSeleccionado.name }} - Cohorts</h2>
    </div>
    <div class="cards-container">
      <mat-card class="card" *ngFor="let cohort of cohorts">
        <mat-card-header>
          <mat-card-title>{{ cohort.cohortName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <apx-chart
            [series]="getChartSeriesData(cohort)"
            [labels]="getChartLabels(cohort)"
            [chart]="chartOptions.chart!"
            [responsive]="chartOptions.responsive!"
            [legend]="chartOptions.legend!"
            [colors]="chartOptions.colors!"
            [plotOptions]="chartOptions.plotOptions!"
            [dataLabels]="chartOptions.dataLabels!"
          >
          </apx-chart>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-stroked-button
            color="accent"
            (click)="selectCohort(cohort)"
          >
            See Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>

<div
  *ngIf="cohortSeleccionado && pollSeleccionado"
  class="cohort-details-container"
>
  <div class="cohort-details-container">
    <mat-card appearance="outlined" class="card">
      <div class="header">
        <button mat-icon-button class="header-left" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="cohorts-title">
          {{ pollSeleccionado.name }} - {{ cohortSeleccionado.cohortName }}
        </h2>
      </div>
      <mat-card-content>
        <div class="global-cohort-container">
          <div>
            <h4 style="padding: 0px; margin: 0px">Risk Overview</h4>
            <p style="padding: 0px 0px 20px 0px; margin: 0px">By Component</p>
            <apx-chart
              [series]="getChartSeriesData(cohortSeleccionado)"
              [labels]="getChartLabels(cohortSeleccionado)"
              [chart]="chartOptions.chart!"
              [responsive]="chartOptions.responsive!"
              [legend]="chartOptions.legend!"
              [colors]="chartOptions.colors!"
              [plotOptions]="chartOptions.plotOptions!"
              [dataLabels]="chartOptions.dataLabels!"
            >
            </apx-chart>
          </div>
          <div class="custom-divider"></div>
          <div>
            <h4 style="padding: 0px; margin: 0px">Top Risk Students</h4>
            <p style="padding: 0px 0px 20px 0px; margin: 0px">
              Top
              <select [(ngModel)]="selectedQuantity" (change)="updateTable()">
                <option *ngFor="let qty of quantities" [value]="qty">
                  {{ qty }}
                </option>
              </select>
              students at risk
            </p>

            <mat-table class="students-table" [dataSource]="filteredStudents">
              <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef>Student Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.studentName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="answerAverage">
                <th mat-header-cell *matHeaderCellDef>Answers Avg. Risk</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.answerAverage }}
                </td>
              </ng-container>

              <ng-container matColumnDef="riskLevel">
                <th mat-header-cell *matHeaderCellDef>Risk Level</th>
                <td mat-cell *matCellDef="let element">
                  <div
                    class="risk-badge"
                    [style.backgroundColor]="getColorRisk(element.riskSum)"
                  >
                    {{ element.riskSum }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    aria-label="View details"
                    (click)="openStudentDetails(element.studentId)"
                  >
                    <mat-icon>visibility</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns"></tr>
            </mat-table>
          </div>
        </div>
        <br />
        <div class="action-buttons">
          <button mat-button (click)="accordion().openAll()">Expand All</button>
          <button mat-button (click)="accordion().closeAll()">
            Collapse All
          </button>
        </div>
        <mat-accordion class="cohort-accordion" multi>
          <mat-expansion-panel
            (opened)="loadComponentData(component.key.toLowerCase())"
            (closed)="studentRisk = []"
            *ngFor="let component of selectedComponents"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>{{ component.key }}</strong>
              </mat-panel-title>
              <mat-panel-description>
                Total Answer Average Risk: {{ component.value }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <mat-table
                [dataSource]="
                  componentStudentRisk[component.key.toLowerCase()] || []
                "
              >
                <ng-container matColumnDef="studentName">
                  <th mat-header-cell *matHeaderCellDef>Student Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.studentName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="answerAverage">
                  <th mat-header-cell *matHeaderCellDef>Answers Avg. Risk</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.answerAverage }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="riskLevel">
                  <th mat-header-cell *matHeaderCellDef>Risk Level</th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="risk-badge"
                      [style.backgroundColor]="getColorRisk(element.riskSum)"
                    >
                      {{ element.riskSum }}
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-icon-button
                      aria-label="View details"
                      (click)="openStudentDetails(element.studentId)"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>
              </mat-table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
