<div class="page-title">Identify At-Risk Students</div>
<br />
<div class="content-option">
  <button mat-raised-button (click)="openDialog()" color="primary">
    Students by variable
  </button>
  <button
    mat-raised-button
    color="primary"
    style="margin: 0"
    (click)="openStudentsDetailsDialog()"
  >
    Students by component
  </button>
  <button
    mat-raised-button
    color="primary"
    style="margin: 0"
    (click)="openStudentsByCohortDialog()"
  >
    Students by cohort
  </button>
</div>
