.chart-container {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.export-button {
  float: right;
  width: 35px;
  height: 35px;
  margin-left: 0px;
  background-color: none;
  border: none;
  border-radius: 50%;
  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }
}
