.chart-container {
  width: 150%;
  height: 150%;
  overflow: auto;
}

@media (max-width: 768px) {
  .chart-container {
    height: calc(100vh - 100px);
    overflow-x: scroll;
  }
}
.export-button {
  float: right;
  width: 35px;
  height: 35px;
  margin-left: 0px;
  background-color: none;
  border: none;
  border-radius: 50%;
  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }
}
