@use './../../../styles/utils/index.scss' as main-styles;

.evalsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
  padding-top: 30px;
  .evaluationList {
    display: block;
    width: 100%;
  }
}
