<h3>List Imported Students</h3>

@if (!data) {
  <mat-spinner></mat-spinner>
} @else {
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data">
      @for (column of columns; track $index) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
      } @empty {
        <li>There are no items.</li>
      }

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <mat-paginator
      [length]="totalStudents"
      (page)="onPageChange($event)"
      [pageSize]="pageSize"
      [pageIndex]="currentPage"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
}
