<div class="modal-header">
  <h2 mat-dialog-title>
    {{ 'Edit Intervention' }}
  </h2>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>

<div class="modal-content">
  <mat-dialog-content>
    <div class="form-body">
      <app-form-factory
        [fields]="formFields"
        (formReady)="setFormGroup($event)"
      ></app-form-factory>

      <div class="attendance-section">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Attendance</mat-label>
          @if (isGroup()) {
            <mat-select
              [multiple]="true"
              [ngModel]="attendedStudentIdsModel"
              (ngModelChange)="onAttendanceChange($event)"
            >
              <mat-option
                *ngFor="let student of data.students"
                [value]="student.value.toString()"
              >
                {{ student.label }}
              </mat-option>
            </mat-select>
          } @else {
            <mat-select
              [ngModel]="attendedStudentIdsModel[0]"
              (ngModelChange)="onAttendanceChange($event)"
            >
              <mat-option [value]="null">None</mat-option>
              <mat-option
                *ngFor="let student of data.students"
                [value]="student.value.toString()"
              >
                {{ student.label }}
              </mat-option>
            </mat-select>
          }
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-dialog-close class="cancel-button">Cancel</button>
    <button
      class="action-button"
      type="submit"
      [ngClass]="{ 'disabled-button': isSubmitDisabled }"
      [disabled]="isSubmitDisabled"
      (click)="submitIntervention()"
    >
      {{ 'Save' }}
    </button>
  </mat-dialog-actions>
</div>
