@use 'index.scss' as main-styles;

.icon-arrow mat-icon {
  background-color: transparent;
}

.menu-icon {
  padding-left: 14px;
}

p {
  padding: 0;
  margin: 0;
}

.submenu {
  background-color: main-styles.get-color(primary, 20);
}
