<p [class.expanded]="isExpanded">
  <button class="menu-button" mat-button (click)="toggle()">
    @if (icon) {
      <mat-icon
        [fontSet]="isExpanded ? 'material-icons' : 'material-icons-outlined'"
        class="menu-icon"
        >{{ icon }}</mat-icon
      >
    }
    <span class="icon-arrow">
      @if (isExpanded) {
        <mat-icon>arrow_drop_up</mat-icon>
      } @else {
        <mat-icon>arrow_drop_down</mat-icon>
      }
    </span>
    <span [class.hide-title]="!collapseSignal()" class="menu-label">{{
      title
    }}</span>
  </button>
</p>
@if (isExpanded) {
  <div class="submenu">
    <ng-content></ng-content>
  </div>
}
