@use './../../../styles/utils/index.scss' as main-styles;

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.main {
  display: grid;
  gap: 20px;
}

.title {
  color: #000;
  font-size: var(--Headline-Small-Size, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Headline-Small-Line-Height, 32px);
  letter-spacing: var(--Headline-Small-Tracking, 0px);
  margin: 5px;
  padding: 0px;
}

.details {
  margin: 0px;
  color: var(--neutral-700, #605e5e);
  font-size: medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.swiper {
  min-height: 240px;
  width: clamp(320px, 80vw, 970px);
}

swiper-slide {
  display: flex;
  justify-content: start;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  color: black;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.swiper-slide-active {
  border-color: main-styles.get-color('neutral', 90);
  border-style: solid;
  background-color: main-styles.get-color('neutral', 90);
}

swiper-slide:nth-child(1n) {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
  min-height: 240px;
  width: 100%;
  justify-content: center;
}

.section {
  display: flex;
  width: 100%;
  gap: 20px;
}

.link-card {
  width: 150px;
  height: 150px;
  display: block;
  justify-items: center;
  align-content: center;
  color: #008581;
  text-align: center;
  cursor: pointer;
}
.link-card:hover {
  text-decoration: underline;
}

.services-card {
  padding: 15px;
  color: #008581;
  text-align: center;
}
.cl-icon {
  color: #9064b9;
  font-size: 64px;
  width: 100%;
  height: 80px;
}

.poll-details {
  color: main-styles.get-color('primary', 30);
  font-weight: 500;
  font-size: large;
  margin-left: 20px;
}
@media screen and (max-width: 500px) {
  .section {
    flex-wrap: wrap;
  }
  .eval-summary {
    display: block;
  }
}

mat-card-title {
  text-align: center;
  width: 100%;
  font-weight: 500;
}
mat-card-actions {
  width: 100%;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  margin-top: -15px;
}

mat-card-footer {
  font-size: x-large;
}

.check {
  color: #07cb07;
}
.close {
  color: #f13636;
}

.statusRow {
  padding: 4px;
  border-radius: 10px;
  border: none;
  width: 200px;
  display: block;
  text-align: center;
  font-weight: 500;
  opacity: 0.75;
  color: white;
  background-color: main-styles.get-color(primary, 60);
}
.Incomplete {
  background-color: main-styles.get-color(tertiary, 20);
}
.Not_started_yet {
  background-color: main-styles.get-color(primary, 60);
}
.In_progress {
  background-color: main-styles.get-color(primary, 30);
}
.Finished {
  background-color: main-styles.get-color(neutral, 60);
}
