<div>
  <h1 class="page-title">Home</h1>
  <h2 class="page-subtitle">Overview</h2>
  <div class="section" style="height: 200px">
    <mat-card class="link-card" routerLink="/list-students-by-poll">
      <mat-icon>account_balance</mat-icon>
      <mat-card-title>Cohorts</mat-card-title>
      <mat-card-footer>{{
        cohortsSummary?.cohortCount || '?'
      }}</mat-card-footer>
    </mat-card>
    <mat-card class="link-card" routerLink="/list-students-by-poll">
      <mat-icon>group</mat-icon>
      <mat-card-title>Students</mat-card-title>
      <mat-card-footer>{{
        cohortsSummary?.studentCount || '?'
      }}</mat-card-footer>
    </mat-card>
    <mat-card class="link-card" routerLink="/list-polls-by-lastDays">
      <mat-icon>file_copy</mat-icon>
      <mat-card-title>Polls</mat-card-title>
      <mat-card-footer>{{
        cohortsSummary?.studentCount || '?'
      }}</mat-card-footer>
    </mat-card>
    <mat-card class="link-card" routerLink="/list-polls-by-lastDays">
      <mat-icon>insert_chart</mat-icon>
      <mat-card-title>Evaluations</mat-card-title>
      <mat-card-footer>{{ 0 }}</mat-card-footer>
    </mat-card>
    @if (summaryReqError) {
      <span class="ErrorMessage"
        >Could not load all summary details: {{ summaryReqError }}</span
      >
    }
  </div>
  <h2 class="page-subtitle">Recent Polls</h2>
  <!-- Todo: Add URL PARAM to send last days -->
  <p class="link" routerLink="/list-polls-by-lastDays">View all Polls</p>
  @if (evalProcSummary) {
    <mat-card class="summary-section" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ evalProcSummary[0].name }}</mat-card-title>
        <mat-card-subtitle style="color: cadetblue">{{
          evalProcSummary[0].version
        }}</mat-card-subtitle>
      </mat-card-header>
      <div class="entity-summary">
        <ul>
          <li style="display: flex; align-items: center">
            <p style="font-weight: bolder; margin-right: 10px">Published:</p>
            <span>{{ evalProcSummary[0].audit?.createdAt | date }}</span>
          </li>
          <li style="display: flex; align-items: center">
            <p style="font-weight: bolder; margin-right: 10px">Deadline:</p>
            <span>{{ evalProcSummary[0].audit?.modifiedAt | date }}</span>
          </li>
        </ul>
        <div style="display: flex; width: 90%">
          <mat-card class="summary-card">
            <mat-card-title>Poll Progress</mat-card-title>
            <mat-card-footer>{{
              evalProcSummary[0].progress || '23/32'
            }}</mat-card-footer>
          </mat-card>
          <mat-card class="summary-card">
            <mat-card-title>Risk Students</mat-card-title>
            <mat-card-footer>{{
              evalProcSummary[0].riskStudents?.length || '5/32'
            }}</mat-card-footer>
          </mat-card>
        </div>
      </div>
      <div class="entity-summary">
        <mat-card class="chart-card">
          <mat-card-title style="text-align: center; font-weight: bold"
            >Results Summary</mat-card-title
          >
          <app-bar-chart
            [seriesY]="pollResults"
            style="width: 90%"
          ></app-bar-chart>
        </mat-card>
        <mat-card class="chart-card">
          <mat-card-title style="text-align: center; font-weight: bold"
            >Poll Average</mat-card-title
          >
          <div class="overlaped">
            <p class="front-result">{{ evalProcSummary[0].average || 0 }}</p>
            <app-pie-chart
              [seriesY]="pollResults"
              class="back-result"
            ></app-pie-chart>
          </div>
        </mat-card>
      </div>
      <mat-card-actions>
        <button mat-stroked-button (click)="redirectToLastPoll()">
          View More
        </button>
      </mat-card-actions>
    </mat-card>
  }
  <h2 class="page-subtitle">Connected Services</h2>
  <div class="section">
    <mat-card class="link-card" routerLink="/cosmic-latte">
      <mat-card-title>Cosmic Latte</mat-card-title>
      <mat-icon class="CL-Icon">local_drink</mat-icon>
      <mat-card-actions>
        @if (healthCheckStatus) {
          <mat-icon class="check">check</mat-icon>
        } @else {
          <mat-icon class="close">close</mat-icon>
        }
        <p>{{ healthCheckStatus ? 'OK' : 'NOK' }}</p>
        <button mat-mini-fab aria-label="Service Settings">
          <mat-icon routerLink="/cosmic-latte">settings</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
