<div>
  <h1 class="page-title">Home</h1>
  <h2 class="page-subtitle">Overview</h2>
  @if (summaryReqError) {
    <span class="error-message">Could not load all summary details.</span>
  }
  <div class="section">
    <mat-card class="link-card" routerLink="/list-students-by-poll">
      <mat-icon>group</mat-icon>
      <mat-card-title>Students</mat-card-title>
      <mat-card-footer>{{ count?.Students || 0 }}</mat-card-footer>
    </mat-card>
    <mat-card class="link-card" routerLink="reports/polls-answered">
      <mat-icon>file_copy</mat-icon>
      <mat-card-title>Polls Answered</mat-card-title>
      <mat-card-footer>{{ count?.PollInstances || 0 }}</mat-card-footer>
    </mat-card>
    <mat-card class="link-card" routerLink="/evaluation-process">
      <mat-icon>insert_chart</mat-icon>
      <mat-card-title>Evaluations</mat-card-title>
      <mat-card-footer>{{ count?.Evaluations }}</mat-card-footer>
    </mat-card>
  </div>

  <h2 class="page-subtitle">Evaluation Processes</h2>
  @if (evalProcSummary && evalProcSummary.length > 0) {
    <div #mainContainer>
      <div class="container">
        <section class="main" id="chart-student-detail">
          <swiper-container
            id="swiper-container"
            class="swiper"
            effect="cards"
            grab-cursor="true"
            (swiperslidechange)="onSlideChange($event)"
          >
            @for (evaluation of evalProcSummary; track $index) {
              <swiper-slide>
                <div>
                  <mat-icon class="swipe-icon">swipe</mat-icon>
                  <h2 class="title">
                    Evaluation: {{ evalProcSummary[idxChosenEval].name }}
                  </h2>
                  <p>Status: {{ evalProcSummary[idxChosenEval].status }}</p>
                  <p>
                    ID: {{ evalProcSummary[idxChosenEval].evaluationPollId }}
                  </p>
                  <p>
                    Polls answered:
                    {{ evalProcSummary[idxChosenEval].pollInstances.length }}
                  </p>
                  <p>
                    Poll name:
                    {{ evalProcSummary[idxChosenEval].pollName }}
                  </p>
                  <p>
                    Timeline:
                    {{ evalProcSummary[idxChosenEval].startDate | date }} to
                    {{ evalProcSummary[idxChosenEval].endDate | date }}
                  </p>
                </div>

                <h3 class="title">Poll {{ evaluation.polls | json }}</h3>
                <p class="date-risk-by-components">
                  Poll Name: {{ evaluation.pollInstances | json }}
                </p>
                <p class="date-risk-by-components">
                  Status: {{ evaluation.status }}
                </p>
                <p class="date-risk-by-components">
                  Risk average: {{ riskLevelAvg }}
                </p>
                <div class="chart-container" #chart>
                  @if (isLoadingPollInstances) {
                    <mat-spinner />
                  } @else if (
                    riskLevels.risks.length > 0 && riskLevels.levels.length > 0
                  ) {
                    <app-bar-chart
                      [seriesY]="riskLevels.risks"
                      [categoriesX]="riskLevels.levels"
                    ></app-bar-chart>
                  } @else {
                    <app-empty-data-message
                      description="No poll instance data found."
                    ></app-empty-data-message>
                  }
                </div>
              </swiper-slide>
            }
          </swiper-container>
        </section>
      </div>
    </div>
  } @else {
    @if (isLoadingEvaluations) {
      <mat-spinner />
    } @else {
      <app-empty-data-message
        description="No evaluation process with polls answered yet."
      ></app-empty-data-message>
    }
  }
  <h2 class="page-subtitle">Connected Services</h2>
  <div class="section">
    <mat-card class="services-card">
      <mat-card-title>Cosmic Latte</mat-card-title>
      <mat-icon class="cl-icon">local_drink</mat-icon>
      <mat-card-actions>
        @if (healthCheckStatus) {
          <mat-icon class="check">check</mat-icon>
        } @else {
          <mat-icon class="close">close</mat-icon>
        }
        <p>{{ healthCheckStatus ? 'OK' : 'NOK' }}</p>
        <button mat-mini-fab aria-label="Service Settings">
          <mat-icon routerLink="/cosmic-latte">settings</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
