<h1 class="page-title">Referrals</h1>

@if (!referrals().length) {
  <app-empty-data-message description="There are no referrals created yet.">
  </app-empty-data-message>

  <section class="referrals mrg-top-20">
    <eras-button [textButton]="'Let\'s create a new one!'"></eras-button>
  </section>
} @else {
  <section>
    <div align="end">
      <eras-button [textButton]="'New'"></eras-button>
    </div>
    <app-referrals-grid
      (gridAction)="handleGridAction($event)"
      (paginatorAction)="handlePaginatorAction($event)"
      [referrals]="referrals()"
    ></app-referrals-grid>
  </section>
}
