@if (importedPollData.length > 0) {
  <div
    class="container"
    [ngClass]="{
      hidden: previewIsHidden$ | async,
      visible: (previewIsHidden$ | async) === false,
    }"
  >
    <div class="poll-card">
      <p class="subtitle">Poll details to be imported</p>
      <mat-card class="" appearance="outlined">
        <mat-card-content>
          <div class="row-info pollHeaderContainer">
            <span class="">
              <p>Name: {{ pollDetails.name | titlecase }}</p>
              <p>Cosmic latte ID: {{ pollDetails.cosmicLatteId }}</p>
              <p>Poll version: {{ pollDetails.version }}</p>
            </span>
            <span>
              <span>
                <p>Components</p>
                <ul class="information">
                  @for (component of pollDetails.components; track $index) {
                    <li>{{ $index + 1 }}. {{ component | titlecase }}</li>
                  }
                </ul>
              </span>
            </span>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="studentDetails">
        <div>
          <p class="subtitle">Students details</p>
          <div class="studentQuantities">
            Students:
            <p>{{ selectedStudents$ | async }}/{{ totalStudents }}</p>
          </div>
          @if (!dataStudents) {
            <mat-spinner></mat-spinner>
          } @else {
            @if (isMobile) {
              <div class="card-container">
                @for (student of studentsMobileVersion; track $index) {
                  <mat-card class="" appearance="outlined">
                    <mat-card-content>
                      @for (column of columns; track $index) {
                        <div class="row-info">
                          <p class="field">{{ column | titlecase }}</p>
                          @if (column === 'save') {
                            <mat-slide-toggle
                              [disabled]="!isStudentElegible(student)"
                              class="custom-slide-toggle"
                              [checked]="
                                student[column] && isStudentElegible(student)
                              "
                              (change)="handleCheckbox($event, student)"
                            ></mat-slide-toggle>
                          } @else {
                            <p class="information">{{ student[column] }}</p>
                          }
                        </div>
                      }
                    </mat-card-content>
                  </mat-card>
                }
              </div>
              <span class="buttonContainer">
                <button class="button" mat-flat-button (click)="savePolls()">
                  Save
                </button>
                <button
                  class="button"
                  mat-flat-button
                  (click)="resetAllDataPolls()"
                >
                  Cancel
                </button>
              </span>
            } @else {
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataStudents">
                  @for (column of columns; track $index) {
                    <ng-container [matColumnDef]="column">
                      <th mat-header-cell *matHeaderCellDef>
                        @if (column === 'save') {
                          Save all<mat-slide-toggle
                            class="custom-slide-toggle"
                            (change)="handleAllCheckboxs($event)"
                            [checked]="allStudentsChecked$ | async"
                          ></mat-slide-toggle>
                        } @else {
                          {{ column | titlecase }}
                        }
                      </th>
                      <td mat-cell *matCellDef="let element">
                        @if (column === 'save') {
                          <mat-slide-toggle
                            class="custom-slide-toggle"
                            [disabled]="!isStudentElegible(element)"
                            [checked]="
                              element[column] && isStudentElegible(element)
                            "
                            (change)="handleCheckbox($event, element)"
                          ></mat-slide-toggle>
                        } @else {
                          {{ element[column] }}
                        }
                      </td>
                    </ng-container>
                  }
                  <tr mat-header-row *matHeaderRowDef="columns"></tr>
                  <tr mat-row *matRowDef="let row; columns: columns"></tr>
                </table>
                <span class="buttonContainer">
                  <button
                    class="button"
                    mat-flat-button
                    (click)="savePolls()"
                    [disabled]="(selectedStudents$ | async) === 0"
                  >
                    Save
                  </button>
                  <button
                    class="button"
                    mat-flat-button
                    (click)="resetAllDataPolls()"
                  >
                    Cancel
                  </button>
                </span>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
}
