.action-section {
  text-align: right;
}

.export-button {
  border: none;
  border-radius: 50%;
  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  position: relative;
  width: 100%;
}
