.action-section {
  text-align: right;
}

.export-button {
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  position: relative;
  width: 100%;
}

::ng-deep .item-tooltip {
  padding: 8px 8px;
}

::ng-deep .mail-list {
  margin: 0;
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding: 8px 16px 8px 29px;
  }

  li::before {
    content: 'mail_outline';
    font-family: 'Material Icons';
    font-size: 16px;
    position: absolute;
    left: 0;
  }
}

::ng-deep [class*='point-tooltip-color'] {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 5px;
}

::ng-deep .point-tooltip-color-1 {
  background-color: #43a047;
}

::ng-deep .point-tooltip-color-2 {
  background-color: #66bb6a;
}

::ng-deep .point-tooltip-color-3 {
  background-color: #fdd835;
}

::ng-deep .point-tooltip-color-4 {
  background-color: #ffb74d;
}

::ng-deep .point-tooltip-color-5 {
  background-color: #ef5350;
}
