<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="'side'"
    [opened]="true"
    [style.width]="sidenavWidth()"
    [ngClass]="newSidebar() ? 'new-theme' : 'old-theme'"
  >
    <button
      *ngIf="!newSidebar()"
      class="expand-button"
      mat-icon-button
      (click)="collapsed.set(!collapsed())"
    >
      <mat-icon class="menu-icon">{{
        collapsed() ? 'menu' : 'menu_open'
      }}</mat-icon>
    </button>

    <app-sidebar
      [(collapsed)]="collapsed"
      [newSidebar]="newSidebar()"
    ></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content [style.margin-left]="sidenavWidth()">
    <app-header-container />
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-toast-notification></app-toast-notification>
