@use 'index.scss' as main-styles;

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: #117473;
  color: white;
  height: 100vh;
  border-radius: 0px 8px 8px 0px;
  transform-origin: left;
  width: 260px;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out !important;
}

mat-sidenav-content {
  background-color: main-styles.get-color('neutral', 95);
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.app-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: main-styles.get-color('primary', 30);
}

.container {
  width: 100%;
  box-sizing: border-box;
  height: 90%;
  padding: 0 20px;
}
