@use 'index.scss' as main-styles;

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  height: 100vh;
  border-radius: 0px 8px 8px 0px;
  transform-origin: left;

  &.new-theme {
    background-color: #117473;
    color: white;
  }

  &.old-theme {
    background-color: main-styles.get-color('primary', 25);
    color: main-styles.get-color('neutral', 70);
  }
}

button.expand-button {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  color: main-styles.get-color('neutral', 50);
  height: 50px;
  &:hover .menu-icon {
    color: main-styles.get-color('neutral', 100);
  }
}

mat-icon.menu-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding-left: 18px;
  margin: 0;
  vertical-align: middle;
  color: #bebbbc;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out !important;
}

mat-sidenav-content {
  background-color: main-styles.get-color('neutral', 95);
}

.container {
  width: 100%;
  box-sizing: border-box;
  height: 90%;
  padding: 0 20px;
}
