<div #mainContainer>
  <div class="page-header">
    <h2 class="page-title">Risk Students</h2>
  </div>

  <div class="form-container">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label for="sl-component">Polls by name</mat-label>
        <mat-select id="sl-component" formControlName="pollUuid">
          @for (poll of pollsData; track $index) {
            <mat-option [value]="poll.uuid">
              {{ poll.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="sl-questions">Questions</mat-label>
        <mat-select
          id="sl-questions"
          formControlName="selectQuestions"
          multiple
        >
          @for (question of questions; track question.description) {
            <mat-option [value]="question.description">{{
              question.description
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="filter-container">
    @if (selectedPoll) {
      <app-risk-students-table
        [pollUUID]="selectedPoll.uuid"
        [variableIds]="variableIds"
      />
    }
  </div>
</div>
