<div class="mat-elevation-z8">
  <mat-spinner
    *ngIf="
      columns.length <= 0 ||
      (totalItems && totalItems <= 0) ||
      (!totalItems && items.length <= 0)
    "
  />

  <ng-container *ngIf="columns.length > 0 && isMobile; else tableView">
    <div class="card-container">
      <mat-card *ngFor="let item of items" class="card" appearance="outlined">
        <mat-card-content>
          <div class="row-info" *ngFor="let column of getColumnKeys()">
            <span>
              <b class="field">{{ column.toString() | titlecase }}</b
              >:
            </span>
            <span class="information">
              {{ item[column] }}
            </span>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="getTotalActionDatas() > 0">
          <app-action-button
            *ngFor="let actionData of getActionDatas()"
            [item]="item"
            [actionData]="actionData"
            (actionCalled)="handleAction($event)"
          >
            <mat-icon *ngIf="actionData.ngIconName && !actionData.text">{{
              actionData.ngIconName
            }}</mat-icon>
            <span *ngIf="actionData.text && !actionData.ngIconName">{{
              actionData.text
            }}</span>
          </app-action-button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #tableView>
    <table mat-table [dataSource]="items">
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.key.toString()"
      >
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ column.label | titlecase }}</b>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ showElement(element, column) }}
        </td>
      </ng-container>

      <ng-container *ngIf="getTotalActionDatas() > 0" matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>
          <b>Actions</b>
        </th>
        <td mat-cell *matCellDef="let item">
          <app-action-button
            *ngFor="let actionData of getActionDatas()"
            [item]="item"
            [actionData]="actionData"
            (actionCalled)="handleAction($event)"
          >
            <mat-icon *ngIf="actionData.ngIconName && !actionData.text">{{
              actionData.ngIconName
            }}</mat-icon>
            <span *ngIf="actionData.text && !actionData.ngIconName">{{
              actionData.text
            }}</span>
          </app-action-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getAllColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getAllColumns()"></tr>
    </table>
  </ng-template>
</div>
