table {
  text-align: left;
  width: 100%;
}

mat-card {
  margin-top: 1em;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-table {
  color: black;
  width: 100%;
}

.row-mobile {
  display: flex;
  justify-content: flex-start;
}

.row-info {
  margin-bottom: 0.25em;
}
.menu-button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.mat-mdc-icon-button:hover {
  background-color: #f5f5f5;
}

.wrapper-content {
  display: flex;
  align-items: anchor-center;
}
