table {
    text-align: left;
    width: 100%;
}

mat-card {
    margin-top: 1em;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

.mat-mdc-table {
    color: black;
    width: 100%;
}