.badge {
  padding: 4px 8px;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.badge-success {
  background-color: #00a29c;
  color: white;
}

.badge-secondary {
  background-color: #e5e7eb;
  color: #374151;
  mat-icon {
    color: #ff5449;
  }
}
