<div
  class="card"
  [class.card--expanded]="expanded"
  [class.card--dimmed]="dimmed"
  #cardRef
>
  <button class="pdf-export" (click)="onExportPdf()">Export</button>
  <button class="change-to-column" (click)="changeToColumn()">
    <img src="assets/icons/graphic.svg" alt="bar_chart" />
  </button>
  <button
    class="toggle-btn"
    [attr.aria-label]="expanded ? 'Colapsar' : 'Expandir'"
    (click)="onToggle()"
    type="button"
  >
    <mat-icon [class.hidden]="!expanded">fullscreen_exit</mat-icon>
    <img
      src="assets/icons/expand.svg"
      alt="expand_icon"
      [class.hidden]="expanded"
    />
  </button>

  <div class="card-body">
    <ng-content></ng-content>
  </div>
</div>
