<div
  class="card"
  [class.card--expanded]="expanded"
  [class.card--dimmed]="dimmed"
  #cardRef
>
  <button class="pdf-export" (click)="onExportPdf()">Export</button>
  <button class="change-to-column" (click)="changeToColumn()">
    <mat-icon>bar_chart</mat-icon>
  </button>
  <button
    class="card__toggle-btn"
    [attr.aria-label]="expanded ? 'Colapsar' : 'Expandir'"
    (click)="onToggle()"
    type="button"
  >
    <mat-icon>{{ expanded ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
  </button>

  <div class="card__body">
    <ng-content></ng-content>
  </div>
</div>
