<h1 class="page-title">Summary Heatmap</h1>
<form [formGroup]="filterForm">
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label for="sl-poll">Poll</mat-label>
      <mat-select required id="sl-poll" formControlName="pollId">
        @for (poll of polls; track $index) {
          <mat-option class="versioned-option" [value]="poll.id">
            <p>{{ poll.name }}</p>
            <p class="version">
              V{{ poll.lastVersion }}-{{
                poll.lastVersionDate | date: 'shortDate'
              }}
            </p>
          </mat-option>
        }
      </mat-select>
      @if (filterForm.get('pollId')?.errors) {
        <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
    @if (selectedPoll) {
      <mat-form-field appearance="fill">
        <mat-label for="sl-component">Cohort</mat-label>
        <mat-select
          required
          id="sl-component"
          multiple
          formControlName="cohortIds"
          (openedChange)="handleCohortSelect($event)"
        >
          <mat-option appSelectAll [allValues]="cohorts">Select all</mat-option>
          @for (cohort of cohorts; track $index) {
            <mat-option [value]="cohort.id">
              {{ cohort.name }}
            </mat-option>
          }
        </mat-select>
        @if (filterForm.get('cohortIds')?.errors) {
          <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
    }
  </div>
</form>

@defer (when isLoading) {
  <ng-container>
    <div class="action-section">
      <button mat-icon-button matTooltip="Download pdf" (click)="downloadPDF()">
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </ng-container>

  <div class="table-container" #contentToExport>
    <div class="chart-container">
      <apx-chart
        id="heatmap"
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!"
        [colors]="chartOptions.colors!"
        [plotOptions]="chartOptions.plotOptions!"
        [title]="chartOptions.title!"
        [tooltip]="chartOptions.tooltip!"
      >
      </apx-chart>
    </div>

    <div id="table-container">
      <app-list
        (actionCalled)="(null)"
        (loadCalled)="getStudentsByCohortAndPoll()"
        [items]="students"
        [totalItems]="totalStudents"
        [columns]="columns"
        [actionDatas]="[]"
        [title]="'Students Risk'"
      />
    </div>
    <div></div>
  </div>
} @loading {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @placeholder {
  <app-empty-data-message
    description="Select a cohort and poll"
  ></app-empty-data-message>
}
