<mat-form-field
  appearance="outline"
  class="compact-select"
  [floatLabel]="floatLabelSetup()"
>
  <mat-label [attr.for]="id()">{{ label() }}</mat-label>

  <mat-select
    multiple
    [id]="id()"
    [formControl]="control()"
    (openedChange)="openedChange.emit($event)"
    panelClass="compact-select-panel"
  >
    <mat-select-trigger>
      <app-selected-items [items]="getItemSelection()" />
    </mat-select-trigger>

    <div class="select-search">
      <input
        #searchInput
        matInput
        [placeholder]="placeholder()"
        (input)="onSearch($event)"
        (keydown.space)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      />
    </div>

    <mat-option appSelectAll [allValues]="scrollItemsValues()">
      Select all
    </mat-option>

    @if (useVirtualScroll()) {
      <cdk-virtual-scroll-viewport [itemSize]="itemSize" class="viewport">
        <ng-container *cdkVirtualFor="let item of filteredScrollItems()">
          @if (isGroupItem(item)) {
            <mat-option disabled class="group-header">
              {{ item.label | uppercase }}
            </mat-option>
          } @else {
            <mat-option
              class="group-option versioned-option"
              [value]="item.value"
            >
              {{ item.label }}
            </mat-option>
          }
        </ng-container>
      </cdk-virtual-scroll-viewport>
    } @else {
      @for (item of filteredScrollItems(); track item.label) {
        @if (isGroupItem(item)) {
          <mat-option disabled class="group-header">
            {{ item.label | uppercase }}
          </mat-option>
        } @else {
          <mat-option
            class="group-option versioned-option"
            [value]="item.value"
          >
            {{ item.label }}
          </mat-option>
        }
      }
    }
  </mat-select>

  @if (control().invalid) {
    <mat-error>
      @if (control().hasError('required')) {
        This field is required
      }
    </mat-error>
  }
</mat-form-field>
