.virtual-scroll-option {
  height: auto;
}
.viewport {
  height: 200px;
}
mat-form-field {
  width: 100%;
}

::ng-deep {
  .mat-mdc-option.group-header {
    .mat-pseudo-checkbox {
      display: none !important;
    }

    .mdc-list-item__primary-text {
      opacity: 1 !important;
    }
  }
}
