@use '../../../../styles/utils/index.scss' as ut;
.login-button {
    display: flex;
    margin-top: 2rem;
    font-size: larger;
    border-radius: 10%;
    color: ut.get-color('neutral', 95);
    background-color: ut.get-color('primary', 40);
}
.login-button:hover {
  background-color: ut.get-color('primary', 60);
}
