.login-label {
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: none;
}
.login-button {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 25px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}
.login-button:hover {
  border: 1px solid var(--mat-sys-primary-fixed-dim);
}
