<mat-dialog-content>
  <div class="modal-header">
    <div class="modal-header-title">
      <h2 class="title-modal">Question Details</h2>
      <h3>{{ inputQuestion.componentName }}</h3>
      <h4>{{ inputQuestion.question.question }}</h4>
      @if (isPollAvgQuestion(inputQuestion.question)) {
        <p>Most answered option: {{ inputQuestion.question.averageAnswer }}</p>
      }
      <div style="display: flex; align-items: center; gap: 3px">
        <h4>Average Answer Risk:</h4>
        <div
          class="risk-badge"
          [style.backgroundColor]="
            getRiskColor(inputQuestion.question.averageRisk)
          "
          [style.color]="getTextRiskColor(inputQuestion.question.averageRisk)"
        >
          {{ inputQuestion.question.averageRisk }}
        </div>
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  @if (studentsRisk && studentsRisk.length > 0) {
    <app-list
      (loadCalled)="handleLoadCalled()"
      (actionCalled)="handleActionCalled($event)"
      [columns]="columns"
      [columnTemplates]="columnTemplates"
      [items]="studentsRisk"
      [totalItems]="studentsRisk.length"
      [title]="'Answer Details'"
      [actionDatas]="actionDatas"
    >
      <ng-template #answerRisk let-item>
        <app-badge-risk-level [riskLevel]="item.question.averageRisk" />
      </ng-template>
    </app-list>
  }
</mat-dialog-content>
