<div class="page-header">
  <h2 class="page-title">Students List</h2>
</div>
@if (!dataStudents) {
  <mat-spinner></mat-spinner>
} @else {
  <app-list
    (loadCalled)="handleLoadCalled($event)"
    (actionCalled)="handleActionCalled($event)"
    [columns]="columns"
    [columnTemplates]="columnTemplates"
    [items]="students"
    [totalItems]="totalStudents"
    [actionDatas]="actionDatas"
  >
    <ng-template #isImported let-element>
      <app-badge-imported [element]="element" />
    </ng-template>
  </app-list>
}
