@if (!data) {
  <mat-spinner></mat-spinner>
} @else {
  <app-table-with-actions
    [columns]="columns"
    [items]="items"
    [isUpdateEnabled]="isUpdateEnabled"
    [isRemoveEnabled]="isRemoveEnabled"
    (updateCalled)="handleUpdate($event)"
    (removeCalled)="handleRemove($event)"
  ></app-table-with-actions>
  <br />
  <mat-paginator
    [length]="items.length"
    (page)="onPageChange($event)"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
}
