.container-table-button {
    display: flex;
}

.container-table-button div {
    width: 100%;
}

.card-container mat-card {
    margin-bottom: 0.5em;
}

.container-title-button {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #000;
    font-size: var(--Headline-Small-Size, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Headline-Small-Line-Height, 32px);
    letter-spacing: var(--Headline-Small-Tracking, 0px);
    margin: 5px;
    padding: 0px;
}

.button-export {
    margin-left: auto;
}

app-table-with-actions, mat-paginator {
    color: var(--mat-table-row-item-label-text-color, var(--mat-sys-on-surface, rgba(0, 0, 0, 0.87)));
}