@if (!data) {
  <mat-spinner></mat-spinner>
} @else {
  <div class="container-title-button">
    <div class="container-title">
      @if (title) {
        <h3 class="title">{{ title }}</h3>
      }
    </div>
    @if (items.length) {
      <button mat-button matTooltip="Export table" [matMenuTriggerFor]="menu">
        <mat-icon>print</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-button (click)="exportToCSV()">To CSV</button>
        <br />
        <button
          id="print-button"
          mat-button
          [disabled]="isGenerating"
          (click)="exportToPdf()"
        >
          To PDF
        </button>
      </mat-menu>
    }
  </div>
}
<div class="container-table-button" #contentToExport>
  <div>
    @if (!items.length) {
      <app-empty-data-message />
    } @else {
      <app-table-with-actions
        [mapClass]="mapClass?.table ? mapClass : undefined"
        [columns]="columns"
        [items]="items"
        [columnTemplates]="columnTemplates"
        [templateMap]="templateMap"
        [actionDatas]="actionDatas"
        (actionCalled)="handleAction($event)"
      />
      <br />
      <mat-paginator
        [className]="mapClass?.paginator"
        [length]="totalItems"
        (page)="onPageChange($event)"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        aria-label="Select page"
      />
    }
  </div>
</div>
