.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0;
}
.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filter-button {
  margin-top: -20px;
}
