<mat-dialog-content class="mat-typography modal-container">
  <h2 mat-dialog-title>Filter Studen by Variable</h2>

  <form [formGroup]="filterForm">
    <div class="select-container">
      <mat-form-field appearance="fill">
        <mat-label for="sl-component-filter">Component</mat-label>
        <mat-select
          id="sl-component-filter"
          formControlName="selectComponent"
          (selectionChange)="onComponentChange($event.value)"
        >
          @for (component of mappedData; track component) {
            <mat-option [value]="component.name">{{
              component.name
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="sl-variable-filer">Questions</mat-label>
        <mat-select id="sl-variable-filer" formControlName="selectVariables">
          @for (variable of filteredVariables; track variable) {
            <mat-option [value]="variable.description">{{
              variable.description
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="input-text-variable" appearance="fill">
        <mat-label>Student limit</mat-label>
        <input matInput type="number" />
      </mat-form-field>
    </div>
  </form>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Install
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
