<mat-toolbar class="custom-navbar">
  @if (user) {
    <div class="user-info">
      <button [matMenuTriggerFor]="beforeMenu" class="avatar-button">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  }
  <mat-menu #beforeMenu="matMenu" xPosition="before" class="avatar-menu">
    <button mat-menu-item (click)="redirect('profile')" class="menu-button">
      <mat-icon>person</mat-icon>Profile
    </button>
    <button mat-menu-item (click)="logout()" class="menu-button">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>
