@if (!data) {
  <mat-spinner></mat-spinner>
} @else {
  <div class="container-title-button">
    <div class="container-title">
      @if (title) {
        <h3 class="title">{{ title }}</h3>
      }
    </div>
  </div>
}
<div class="container-table-button">
  <div>
    @if (!items.length) {
      <app-empty-data-message />
    } @else {
      <app-table-with-actions-v2
        [mapClass]="mapClass?.table ? mapClass : undefined"
        [columns]="columns"
        [items]="items"
        [columnTemplates]="columnTemplates"
        [templateMap]="templateMap"
        [actionDatas]="actionDatas"
        [itemsAreSelectable]="itemsAreSelectable"
        (actionCalled)="handleAction($event)"
      />
      <br />
      <mat-paginator
        [className]="mapClass?.paginator"
        [length]="totalItems"
        (page)="onPageChange($event)"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        aria-label="Select page"
      />
    }
  </div>
</div>
