.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    margin:0;
}

.title{
    display: flex;
    flex-direction: row;
    color: #144D4D;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: medium;
}
.title-status{
    color: #144D4D;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    font-weight: medium;
}

.ligth{
    margin: 5px;
    padding: 0;
    color: #144D4D;
    font-family:'Roboto', sans-serif; /* Tipo de fuente */
    font-size: 12px; /* Tamaño de fuente */
    font-weight:lighter;
}

.button{
    margin: 10px;
    background: #19BFB9;
}

.check{
    color: #07CB07;
}
.close{
    color: #F13636;
}

.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}

.grow{
    flex-grow: 1;
}