<form [formGroup]="form">
  <!-- Date -->
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Submitter -->
  <mat-form-field appearance="outline">
    <mat-label>Submitter</mat-label>
    <mat-select formControlName="submitter">
      <mat-option *ngFor="let s of lookups().profiles" [value]="s.id">
        {{ s.firstName | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Service -->
  <mat-form-field appearance="outline">
    <mat-label>Service</mat-label>
    <mat-select formControlName="service">
      <mat-option
        *ngFor="let service of lookups().services"
        [value]="service.id"
      >
        {{ service.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Professional -->
  <mat-form-field appearance="outline">
    <mat-label>Professional</mat-label>
    <mat-select formControlName="professional">
      <mat-option
        *ngFor="let professional of lookups().professionals"
        [value]="professional.id"
      >
        {{ professional.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Student -->
  <mat-form-field appearance="outline">
    <mat-label>Student</mat-label>
    <mat-select formControlName="student" multiple>
      <mat-option
        *ngFor="let student of lookups().students"
        [value]="student.id"
      >
        <mat-check-box
          [checked]="form.get('students')?.value?.includes(student.id)"
        >
          {{ student.name }}
        </mat-check-box>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Professional Comment -->
  <mat-form-field appearance="outline">
    <mat-label>Professional Comment</mat-label>
    <textarea matInput rows="3" formControlName="comment"></textarea>
  </mat-form-field>
</form>
