name: Pull request workflow

on:
  pull_request:
    branches:
      - develop
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '23.6.0'

      - name: Install dependencies
        run: npm install

      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 'latest'

      - name: Run tests
        run: npm run test -- --watch=false --browsers=ChromeHeadless --code-coverage

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker image
        run: |
          cp src/environments/environment.production.sample.ts src/environments/environment.production.ts
          sed -i "s|__TYPE__|true|g" src/environments/environment.production.ts
          docker build -t test-build-image .
