<div class="modal-header">
  <h2 mat-dialog-title>
    {{ 'New Intervention' }}
  </h2>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>

<div class="modal-content">
  <mat-dialog-content>
    <div class="form-body">
      <app-form-factory
        [fields]="formFields"
        (formReady)="setFormGroup($event)"
      ></app-form-factory>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-dialog-close class="cancel-button" [disabled]="isSubmitting">
      Cancel
    </button>
    <button
      class="action-button"
      type="submit"
      [ngClass]="{ 'disabled-button': isSubmitDisabled }"
      [disabled]="isSubmitDisabled"
      (click)="submitIntervention()"
    >
      {{ isSubmitting ? 'Creating...' : 'Create' }}
    </button>
  </mat-dialog-actions>
</div>
