<div #mainContainer>
  <div>
    <mat-card-content class="container-card-list">
      <mat-card class="summary-section" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ lastPoll.title }}</mat-card-title>
          <mat-card-subtitle style="color: cadetblue">{{
            lastPoll.version
          }}</mat-card-subtitle>
        </mat-card-header>
        <div class="entity-summary">
          <ul>
            <li style="display: flex; align-items: center">
              <p style="font-weight: bolder; margin-right: 10px">Published:</p>
              <span>{{ lastPoll.publishedDate }}</span>
            </li>
            <li style="display: flex; align-items: center">
              <p style="font-weight: bolder; margin-right: 10px">Deadline:</p>
              <span>{{ lastPoll.deadlineDate }}</span>
            </li>
          </ul>
          <div style="display: flex; width: 90%">
            <mat-card class="summary-card">
              <mat-card-title>Poll Progress</mat-card-title>
              <mat-card-footer>{{ lastPoll.progress }}</mat-card-footer>
            </mat-card>
            <mat-card class="summary-card">
              <mat-card-title>Risk Students</mat-card-title>
              <mat-card-footer>{{ lastPoll.riskStudents }}</mat-card-footer>
            </mat-card>
          </div>
        </div>
        <div class="entity-summary">
          <mat-card class="chart-card">
            <mat-card-title style="text-align: center; font-weight: bold"
              >Results Summary</mat-card-title
            >
            @if (studentRisks.length > 0) {
              <app-bar-chart
                [seriesY]="risks"
                [categoriesX]="studentNames"
                style="width: 90%"
              ></app-bar-chart>
            } @else {
              <span class="spinner-container">
                <mat-spinner></mat-spinner>
              </span>
            }
          </mat-card>
          <mat-card class="chart-card">
            <mat-card-title style="text-align: center; font-weight: bold"
              >Poll Average</mat-card-title
            >
            <div class="overlaped">
              <p class="front-result">{{ lastPoll.average }}</p>
              @if (studentNames.length > 0 && risks.length > 0) {
                <app-pie-chart
                  [seriesY]="risks"
                  [categoriesX]="studentNames"
                  class="back-result"
                ></app-pie-chart>
              } @else {
                <span class="spinner-container">
                  <mat-spinner></mat-spinner>
                </span>
              }
            </div>
          </mat-card>
        </div>
        <app-list
          (loadCalled)="handleLoadCalled($event)"
          [columns]="columns"
          [columnTemplates]="columnTemplates"
          [items]="studentRisks"
          [totalItems]="totalStudentRisks"
          [title]="'Students List by Risk Average'"
        >
          <ng-template #risk let-item>
            <app-badge-risk-level [riskLevel]="item.risk" />
          </ng-template>
        </app-list>
      </mat-card>
    </mat-card-content>
  </div>
</div>
